@model IEnumerable<Sigv.Domain.Acesso>

@{
    Layout = null;
}
<table>

    <thead>
        <tr>
            <th>Acesso Id</th>
            <th>Usuário</th>
            <th>Ip</th>
            <th>Data Acesso</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var acesso in Model.OrderByDescending(x => x.AcessoId))
        {
            <tr class="cursor-no-clicker">
                <td>@acesso.AcessoId</td>
                <td>@acesso.Usuario.Login</td>
                <td>@acesso.Ip</td>
                <td>@acesso.Data.ToShortTimeString()</td>
            </tr>
        }

    </tbody>

</table>