@model IEnumerable<Sigv.Domain.Acesso>

@{
    Layout = null;
}
<table style="white-space: nowrap;">

    <thead>
        <tr>           
            <th>Usuário</th>
            <th>Ip</th>
            <th>Data</th>
            <th>Hora</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var acesso in Model)
        {
            <tr class="cursor-no-clicker">                
                <td>@acesso.Usuario.Login</td>
                <td>@acesso.Ip</td>
                <td>@acesso.Data.ToShortDateString()</td>
                <td>@acesso.Data.ToLongTimeString()</td>
            </tr>
        }

    </tbody>

</table>