@model IEnumerable<Sigv.Domain.VeiculoOcorrencia>

@{
    Layout = null;
}

<table class="table table-sm small">

    <thead>
        <tr>
            <th class="responsive-screen-1">Id</th>
            <th class="responsive-screen-1">Descrição</th>
            <th class="responsive-screen-1">Usuário</th>
            <th class="responsive-screen-1">Data</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ocorrencia in Model)
        {
            <tr>
                <td class="responsive-screen-1">@ocorrencia.OcorrenciaId</td>
                <td class="responsive-screen-1">@ocorrencia.Descricao</td>
                <td class="responsive-screen-1">@ocorrencia.Usuario.Login</td>
                <td class="responsive-screen-1">@ocorrencia.DataOcorrencia.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
        }
    </tbody>


</table>

