@model Sigv.Domain.LaudoVeiculo

@{
    Layout = null;

    IEnumerable<Sigv.Domain.LaudoAvaria> listaAvarias = ViewBag.ListaAvarias;
    int[] arrayAvariasApontamentos = ViewBag.ListaAvariasApontamentos;

    IEnumerable<Sigv.Domain.LaudoOpcional> listaOpcionais = ViewBag.ListaOpcionais;
    int[] arrayOpcionaisApontamentos = ViewBag.ListaOpcionaisApontamentos;

    IEnumerable<Sigv.Domain.VeiculoFoto> listaFotos = ViewBag.ListaFotos;
}

@if (Model != null)
{
    if (Model.StatusId == 2)
    {
        <div class="row">
            <div class="col-sm-4">
                <h5>Avarias</h5>
                <hr />
                <div style="display: flex; flex-direction: column;">
                    @foreach (var item in listaAvarias)
                    {
                        <div>
                            <input type="checkbox" class="form-check-input no-clicked" @(arrayAvariasApontamentos.Contains(item.AvariaId) ? "checked" : "") />
                            <span>@item.Descricao</span>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <h5>Opcionais</h5>
                <hr />
                <div style="display: flex; flex-direction: column;">
                    @foreach (var item in listaOpcionais)
                    {
                        <div>
                            <input type="checkbox" class="form-check-input no-clicked" @(arrayOpcionaisApontamentos.Contains(item.OpcionalId) ? "checked" : "") />
                            <span>@item.Descricao</span>
                        </div>
                    }
                </div>

            </div>
            <div class="col-sm-4">
                <h5>Fotos</h5>
                <hr />
                <div style="display: flex; flex-wrap: wrap;">
                    @foreach (var foto in listaFotos)
                    {
                        var arquivo = foto.Tipo + foto.VeiculoId.ToString("000000") + "_" + foto.NumeroFoto.ToString("00") + foto.Extensao;
                        <div style="width: 50%; padding: 10px;">
                            <img src="~/Content/Imagens/@foto.VeiculoId.ToString("000000")/@arquivo" style="width: 100%;" />
                        </div>
                    }
                </div>

            </div>
        </div>
    }
    else if (Model.StatusId == 1)
    {
        <span>Existe um laudo em andamento para esse veículo.</span>
    }
}
else
{
    <span>Ainda não existe um laudo iniciado para esse veículo</span>
}


<script>

    let checkbox = document.querySelectorAll(".no-clicked");

    for (let i = 0; i < checkbox.length; i++) {
        checkbox[i].addEventListener("click", function (event) {
            event.preventDefault();
        });
    }

</script>
