
@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-sm-12">
        <h5>Veículo</h5>
        <hr />
    </div>

</div>

<div class="row d-flex flex-row">

    <div class="col-sm-1 d-flex flex-column">
        <button class="btn btn-outline-secondary btn-menu-veiculo mb-2" id="btn-veiculo-dados"><i class="fa-solid fa-car"></i><br />Dados</button>
        <button class="btn btn-outline-secondary btn-menu-veiculo mb-2" id="btn-veiculo-logs"><i class="fa fa-history"></i><br />Logs</button>
        <button class="btn btn-outline-secondary btn-menu-veiculo mb-2" id="btn-veiculo-ocorrencias"><i class="fa-solid fa-flag"></i><br />Ocorr.</button>
        <button class="btn btn-outline-secondary btn-menu-veiculo mb-2" id="btn-veiculo-fotos"><i class="fa-solid fa-camera"></i><br />Fotos</button>
    </div>

    <div class="col-sm-11">

        <div id="divVeiculo" class="div-content scroll">

        </div>

    </div>

</div>

<script>

    window.onload = function () {
        document.getElementById("btn-veiculo-dados").click();
    }

    $(document).ready(function () {

        var veiculoId = parseInt('@ViewBag.Id');        

        $("#btn-veiculo-dados").click(function () {
            retornarVeiculoDados(veiculoId);
        });

        $("#btn-veiculo-logs").click(function () {
            retornarVeiculoLogs(veiculoId);
        });

        $("#btn-veiculo-ocorrencias").click(function () {
            retornarVeiculoOcorrencias(veiculoId);
        });

        $("#btn-veiculo-fotos").click(function () {
            retornarVeiculoFotos(veiculoId);
        });


        $(".btn-menu-veiculo").click(function () {

            $(".btn-menu-veiculo").removeClass("btn-outline-secondary");
            $(".btn-menu-veiculo").removeClass("btn-warning");

            $(".btn-menu-veiculo").addClass("btn-outline-secondary");
            $(this).removeClass("btn-outline-secondary").addClass("btn-warning");

        });

    });

    var retornarVeiculoDados = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoDados?id=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function () {
                $("#divVeiculo").html("Houve um erro ao retornar os dados!");
            }

        });

    };

    var retornarVeiculoLogs = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoLogs?processo=Veiculo&codReferencia=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function () {
                $("#divVeiculo").html("Houve um erro ao retornar os dados!");
            }
        });

    };

    var retornarVeiculoOcorrencias = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoOcorrencias?veiculoId=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function () {
                $("#divVeiculo").html("Houve um erro ao retornar os dados!");
            }
        });

    };

    var retornarVeiculoFotos = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoFotos?veiculoId=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...");
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            }
        });

    };

 

</script>