
@{
    ViewBag.Title = "Veículos";

    int veiculoId = ViewBag.Id;
}

<div class="row">

    <div class="col-sm-12">
        <h5>Veículo</h5>
        <hr />
    </div>

</div>

<div class="row d-flex flex-row">

    <div class="col-sm-1 d-flex flex-column">
        <button class="btn btn-primary btn-menu-veiculo btn-sm mb-2" id="btn-veiculo-dados"><i class="fa-solid fa-car"></i><br />Dados</button>
        <button class="btn btn-primary btn-menu-veiculo btn-sm mb-2" @(veiculoId == 0 ? "disabled" : "") id="btn-veiculo-logs"><i class="fa fa-history"></i><br />Logs</button>
        <button class="btn btn-primary btn-menu-veiculo btn-sm mb-2" @(veiculoId == 0 ? "disabled" : "") id="btn-veiculo-ocorrencias"><i class="fa-solid fa-flag"></i><br />Ocorr.</button>
        <button class="btn btn-primary btn-menu-veiculo btn-sm mb-2" @(veiculoId == 0 ? "disabled" : "") id="btn-veiculo-fotos"><i class="fa-solid fa-camera"></i><br />Fotos</button>
        <button class="btn btn-primary btn-menu-veiculo btn-sm mb-2" @(veiculoId == 0 ? "disabled" : "") id="btn-veiculo-laudo"><i class="fa-solid fa-pen-to-square"></i><br />Laudo</button>
    </div>

    <div class="col-sm-11">

        <div id="divVeiculo" class="div-content-2 scroll" style="max-height: 70vh;">

        </div>

    </div>

</div>

<script>

    window.onload = function () {
        document.getElementById("btn-veiculo-dados").click();
    }

    $(document).ready(function () {

        var veiculoId = parseInt('@veiculoId');        

        $("#btn-veiculo-dados").click(function () {
            retornarVeiculoDados(veiculoId);
        });

        $("#btn-veiculo-logs").click(function () {
            retornarVeiculoLogs(veiculoId);
        });

        $("#btn-veiculo-ocorrencias").click(function () {
            retornarVeiculoOcorrencias(veiculoId);
        });

        $("#btn-veiculo-fotos").click(function () {
            retornarVeiculoFotos(veiculoId);
        });

        $("#btn-veiculo-laudo").click(function () {
            retornarVeiculoLaudo(veiculoId);
        });

        $(".btn-menu-veiculo").click(function () {

            $(".btn-menu-veiculo").removeClass("btn-primary");
            $(".btn-menu-veiculo").removeClass("btn-secondary");

            $(".btn-menu-veiculo").addClass("btn-primary");
            $(this).removeClass("btn-primary").addClass("btn-secondary");

        });

    });

    var retornarVeiculoDados = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoDados?id=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function (xhr, textStatus, error) {
                errorMessage($('#divVeiculo'), "Houve um erro ao processar a rotina! " + error);
            }

        });

    };

    var retornarVeiculoLogs = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoLogs?processo=Veiculo&codReferencia=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function (xhr, textStatus, error) {
                errorMessage($('#divVeiculo'), "Houve um erro ao processar a rotina! " + error);
            }
        });

    };

    var retornarVeiculoOcorrencias = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoOcorrencias?veiculoId=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function (xhr, textStatus, error) {
                errorMessage($('#divVeiculo'), "Houve um erro ao processar a rotina! " + error);
            }
        });

    };

    var retornarVeiculoFotos = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoFotos?veiculoId=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...");
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function (xhr, textStatus, error) {
                errorMessage($('#divVeiculo'), "Houve um erro ao processar a rotina! " + error);
            }
        });

    };

    var retornarVeiculoLaudo = function (veiculoId) {

        $.ajax({
            url: "/Veiculo/RetornarVeiculoLaudo?veiculoId=" + veiculoId,
            method: "get",
            beforeSend: function () {
                loading($('#divVeiculo'), "Aguarde ...")
            },
            success: function (data) {
                $("#divVeiculo").html(data);
            },
            error: function (xhr, textStatus, error) {
                errorMessage($('#divVeiculo'), "Houve um erro ao processar a rotina! " + error);
            }

        });

    };

 

</script>