
@{
    ViewBag.Title = "Permissoes";
}

<script>

    $(document).ready(function () {

        listarPermissoes();

    });

    var listarPermissoes = function () {

        $.ajax({
            url: "/Admin/ListarPermissoes",
            method: "get",
            success: function (data) {

                if (data.Sucesso == false) {
                    $("#divListaPermissoes").html('<span><i class="fas fa-ban small"></i> ' + data.Mensagem + '</span>');
                    return false;
                };

                $("#divListaPermissoes").html(data);
            }
        });

    };

    var atualizaPermissaoGrupo = function (permissao) {

        if (permissao.Check) {
            inserirPermissaoGrupo(permissao);
        }
        else {
            removerPermissaoGrupo(permissao);
        }
    }

    var inserirPermissaoGrupo = function (permissao) {

        $.ajax({
            url: "/Admin/InserirPermissaoGrupo",
            method: "post",
            data: permissao,
            success: function (data) {
                JsAlertWarning(data.Mensagem, "server-response", true, function () {
                    // callback function
                });
                if (!data.Sucesso) {
                    JsAlertError(data.Mensagem, "server-response", true, function () {
                        // callback function
                    });
                };

                listarPermissoes();
            }
        })

    }

    var removerPermissaoGrupo = function (permissao) {

        $.ajax({
            url: "/Admin/RemoverPermissaoGrupo",
            method: "post",
            data: permissao,
            success: function (data) {

                if (!data.Sucesso) {
                    JsAlertError(data.Mensagem, "server-response", true, function () {
                        // callback function
                    });
                };

                listarPermissoes();
            }
        })

    }

</script>

<div class="div-content" id="divListaPermissoes">

</div>

