
@{
    ViewBag.Title = "Usuarios";
}

<script>

    $(document).ready(function () {

        pesquisarUsuarios();

        $("#btnPesquisarUsuarios").click(function () {

            var json = {
                nome: $("#txNome").val(),
                email: $("#txEmail").val(),
                grupoId: $("#txGrupoId").val()
            };

            pesquisarUsuarios(json);

        });

    });

    var pesquisarUsuarios = function (json) {

        $.ajax({
            url: '/Admin/PesquisarUsuarios',
            method: 'get',
            data: json,
            beforeSend: function () {
                loading($('#divListarUsuarios'), "Aguarde ...")
            },
            success: function (data) {
                if (data.Sucesso == false) {
                    $("#divListarUsuarios").html(data.Mensagem);                    
                }
                else {
                    $('#divListarUsuarios').html(data);
                }
            },
            error: function (xhr, textStatus, error) {
                $("#divListarUsuarios").html("Erro ao processar a rotina! " + error);
            }
        });

    }

</script>

<div class="row">

    <div class="col-sm-12">
        <h5>Usuários</h5>
        <hr />
    </div>

    <div class="col-sm-2">

        <div class="menu-view">

            <label>Nome</label>
            <input class="form-control form-control-sm" id="txNome" />

            <label>Email</label>
            <input class="form-control form-control-sm" id="txEmail" />

            <label>Grupo</label>
            <select class="form-control form-control-sm" id="txGrupoId">
                <option value="0"></option>
                <option value="1">Comum</option>
                <option value="2">Editor</option>
                <option value="3">Gerente</option>
                <option value="4">Administrador</option>
                <option value="5">Desenvolvedor</option>
            </select>

            <button class="btn btn-primary btn-sm w-100 mt-2" id="btnPesquisarUsuarios">Pesquisar</button>

        </div>

    </div>

    <div class="col-sm-10">

        <label>Listar de usuários</label>
        <div id="divListarUsuarios" class="div-listar scroll">

        </div>

    </div>

</div>

