<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/alerts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/scripts/jquery-3.6.1.js"></script>
    <script src="~/Content/scripts/font-awesome.js"></script>

    <script src="~/Content/scripts/comum.js"></script>




</head>

<body>

    <div id="workspace">
        <div id="sidebar-menu">
            <div class="sidebar-menu-item" id="menu-home" onclick="window.location.href = '/Home'">
                <i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home
            </div>
            <div class="sidebar-menu-item" id="menu-veiculo" onclick="window.location.href = '/Veiculo/Home'">
                <i class="fa-solid fa-car"></i>&nbsp;&nbsp; Veículos
            </div>
            <div class="sidebar-menu-item" id="menu-permissao" onclick="window.location.href = '/Admin/Permissoes'">
                <i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp; Permissões
            </div>
            <div class="sidebar-menu-item" id="menu-user" onclick="window.location.href = '/Admin/Usuarios'">
                <i class="fa-solid fa-user"></i>&nbsp;&nbsp; Usuários
            </div>
            <div class="sidebar-menu-item" id="menu-logoff" onclick="window.location.href = '/Login/Logoff'">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp; Sair
            </div>
        </div>

        <div id="body">

            <div id="body-header">
                <i class="fa-solid fa-bars" id="btnSidebarMenu" onclick="btnSidebarMenu()"></i>
            </div>

            <div id="server-response" class="server-response-success" style="display: none;">
                <i id="server-response-close" class="fa-solid fa-square-xmark"></i>
                <span id="server-response-message"></span>
            </div>

            <div id="body-content">
                @RenderBody()
            </div>

            
        </div>
    </div>

</body>
</html>

<script src="~/Content/scripts/bootstrap.min.js"></script>
<script src="~/Content/scripts/funcoes.js"></script>
<script src="~/Content/scripts/alerts.js"></script>