@using Sigv.Web.App

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/alerts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/scripts/jquery-3.6.1.js"></script>
    <script src="~/Content/scripts/font-awesome.js"></script>

    <script src="~/Content/scripts/comum.js"></script>



</head>

<body>

    <div id="workspace">
        <div id="sidebar-menu">

            <div class="sidebar-menu-logo">
                Logo
            </div>

            <div class="sidebar-menu-item" id="menu-home" onclick="window.location.href = '/Home/Dashboard'">
                <i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home
            </div>
            <div class="sidebar-menu-item" id="menu-veiculo" onclick="window.location.href = '/Veiculo/Home'">
                <i class="fa-solid fa-car"></i>&nbsp;&nbsp; Veículos
            </div>
            <div class="sidebar-menu-item" id="menu-permissao" onclick="window.location.href = '/Admin/Permissoes'">
                <i class="fa-solid fa-shield-halved"></i>&nbsp;&nbsp; Permissões
            </div>
            <div class="sidebar-menu-item" id="menu-user" onclick="window.location.href = '/Admin/Usuarios'">
                <i class="fa-solid fa-user"></i>&nbsp;&nbsp; Usuários
            </div>
            <div class="sidebar-menu-item" id="menu-logoff" onclick="window.location.href = '/Login/Logoff'">
                <i class="fa fa-sign-out"></i>&nbsp;&nbsp; Sair
            </div>
        </div>

        <div id="body">

            <div id="body-header">
                <div>
                    <i class="fa-solid fa-bars" id="btnSidebarMenu" onclick="btnSidebarMenu()"></i>
                </div>
                <div>
                    <button id="btnModalAlterarSenha" class="btn btn-outline-secondary btn-sm">Alterar Senha</button>
                    <button class="btn btn-secondary btn-sm">
                        Bem vindo, @SessionCookie.Logado.Nome
                    </button>
                </div>
            </div>

            <div id="server-response" style="display: none;">
                <i id="server-response-close" class="fa-solid fa-square-xmark"></i>
                <span id="server-response-message"></span>
            </div>

            <div id="body-content">
                @RenderBody()
            </div>


        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">                
                <div class="modal-header">
                    <h5 class="modal-title">Alterar Senha</h5>
                </div>
                <div class="modal-body">

                    <div id="server-response-div" style="display: none;">
                        <i id="server-response-div-close" class="fa-solid fa-square-xmark"></i>
                        <span id="server-response-div-message"></span>
                    </div>

                    <label>Senha atual</label>
                    <input type="text" id="txSenhaAtual" class="form-control form-control-sm" />

                    <label>Nova Senha</label>
                    <input type="text" id="txSenhaNova" class="form-control form-control-sm" />

                    <div id="passwordResult">
                        <div id="passwordBar"></div>
                        <div id="passwordMessage"></div>
                    </div>

                    <button type="button" id="btnAlterarSenha" class="btn btn-primary btn-sm small">Alterar</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm small" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script src="~/Content/scripts/bootstrap.min.js"></script>
<script src="~/Content/scripts/funcoes.js"></script>
<script src="~/Content/scripts/alerts.js"></script>

<script>

    var url_atual = window.location.href;

    if (url_atual.indexOf("/Dashboard") != -1) {
        $("#menu-home").addClass("active");
    }
    else if (url_atual.indexOf("/Veiculo") != -1) {
        $("#menu-veiculo").addClass("active");
    }
    else if (url_atual.indexOf("/Admin/Permissoes") != -1) {
        $("#menu-permissao").addClass("active");
    }
    else if (url_atual.indexOf("/Admin/Usuario") != -1) {
        $("#menu-user").addClass("active");
    }

    $("#btnModalAlterarSenha").click(function () {
        $("#modalAlterarSenha").modal("show");
    });

    $("#txSenhaNova").keyup(function () {

        if ($(this).val() == "") {
            $("#passwordBar").width("0%");
            $("#passwordMessage").html("");
            return false;
        }

        var result = checkPasswordComplexity($(this).val());
        result = result > 100 ? 100 : result;

        var color = returnColorPassword(result);
        var message = returnMsgPassword(result);

        $("#passwordBar").width(result + "%");
        $("#passwordBar").css("background-color", color);
        $("#passwordMessage").html(message);
        $("#passwordMessage").css("color", color);
        
    });

    $("#btnAlterarSenha").click(function () {
        alterarSenha($("#txSenhaAtual").val(), $("#txSenhaNova").val());
    });

</script>