
@{
    ViewBag.Title = "_AccessDenied";
}

<style>

    .access-denied-container {
       
    }

</style>

<div class="access-denied-container">
    <h2>Acesso negado</h2>
    <h6>Você não tem privilégios para acessar essa página. Entre em contato com o administrador do sistema.</h6>
</div>



