@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Login</title>
    <link href="~/Content/styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/scripts/jquery-3.6.1.js"></script>

    <style>
        .login-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: linear-gradient(to right, var(--color-primary-one), var(--color-primary-two));
        }

        .login-container-alert {
            background-color: var(--color-secondary-one);
            border-radius: 4px;
            border: 1px solid var(--color-secondary-two);
            padding: 20px;
            margin-bottom: 10px;
            max-width: 25vw;
        }

        .login-container label {
            color: var(--color-secondary-one) !important;
        }

        .login-container-form {
            border: 1px solid rgba(255,225,174,0.4);
            padding: 30px;
            border-radius: 4px;
            background-color: rgba(14,109,143,0.4);
            min-width: 25vw;
            max-width: 75vw;
        }

        .div-recovery-password {
            text-align: center;
            color: var(--color-secondary-one);
        }

        .div-recovery-password a {
            text-decoration: none;
        }

        .div-recovery-password a:link {
            color: var(--color-secondary-one);
            text-decoration: none;
        }

        .div-recovery-password a:hover {
            color: var(--color-secondary-one);
            text-decoration: underline;
        }

        .div-recovery-password a:visited {
            color: var(--color-primary-four);
            text-decoration: underline;
        }


    </style>
</head>

<body>

    <div class="login-container">

        <div>

            @if (ViewBag.MensagemRetorno != null)
            {
                <div class="login-container-alert">
                    @ViewBag.MensagemRetorno.Mensagem
                </div>                
            }

            <div class="login-container-form">
                <form class="form-signin" method="post" action="/Login/Index">
                    @Html.AntiForgeryToken()

                    <label for="email">E-mail</label>
                    <input type="text" class="form-control form-control-sm" id="login" name="login" placeholder="Digite o seu e-mail" autofocus />

                    <label for="password">Senha</label>
                    <input type="password" class="form-control form-control-sm" id="senha" name="senha" placeholder="Digite a sua senha" />
                    <br />
                    <button type="submit" class="btn btn-outline-secondary w-100">Entrar</button>
                </form>
            </div>

            <div class="div-recovery-password ">
                Esqueceu a senha ? <a href="">clique aqui</a>
            </div>
        </div>



    </div>
</body>

</html>

<script src="~/Content/scripts/crypto-js.js"></script>
<script>
    $(function () {

        $(".form-signin").submit(function () {

            var key = CryptoJS.enc.Utf8.parse("ydvMmMc3I7HOje3i");
            var iv = CryptoJS.enc.Utf8.parse("wp4zjuwGZwh593An");

            //O Serverside tem uma classe para decodificar
            var encryptedPassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($("#senha").val()), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

            $("#senha").val(encryptedPassword);

            // console.log($("#senha").val());
            // return false;


            $("#senha").attr('readonly', 'readonly');

            $("#btnSubmit").text("Aguarde...");
        });
    })
</script>
