@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sigv - Login</title>
    @RenderPage("~/Views/Shared/_Header.cshtml")
    <link rel="stylesheet" type="text/css" href="~/Content/styles/login.css" />

</head>
<body>
    <div class="login-container">

        <div class="login-logo">
            <img src="~/Content/Imagens/logo_01.png" />
            <div>
                <span class="login-logo-title">Sigv</span>
                <span class="login-logo-text">Sistemas integrados de gerenciamento de veículos</span>
            </div>

        </div>

        <div class="login-form">

            <div>
                @if (ViewBag.MensagemRetorno != null)
                {
                    string msg = ViewBag.MensagemRetorno.Mensagem;
                    var split = msg.Split('.');
                    <div class="server-response-div-neutral">
                        @foreach (var i in split)
                        {
                            <span>@i</span><br>
                        }
                    </div>
                }

                <h5 style="color: var(--color-primary-four) !important;">Efetuar Login</h5>

                <div class="login-form-box">
                    <form class="form-signin" method="post" action="/Login/Index">
                        @Html.AntiForgeryToken()

                        <label for="login">Login</label>
                        <input type="text" class="form-control form-control-sm" id="login" name="login" placeholder="Digite o seu login" autofocus />

                        <label for="password">Senha</label>
                        <input type="password" class="form-control form-control-sm" id="senha" name="senha" placeholder="Digite a sua senha" />
                        <br />
                        <button type="submit" class="btn btn-outline-secondary w-100">Entrar</button>
                    </form>
                </div>

                <div class="div-recovery-password ">
                    Esqueceu a senha ? <a href="/Login/RecuperarSenha">clique aqui</a>
                </div>
            </div>

        </div>

    </div>
</body>
</html>

@RenderPage("~/Views/Shared/_Footer.cshtml")

<script>
    $(function () {

        $(".form-signin").submit(function () {

            var key = CryptoJS.enc.Utf8.parse("ydvMmMc3I7HOje3i");
            var iv = CryptoJS.enc.Utf8.parse("wp4zjuwGZwh593An");

            //O Serverside tem uma classe para decodificar
            var encryptedPassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse($("#senha").val()), key,
                {
                    keySize: 128 / 8,
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

            $("#senha").val(encryptedPassword);

            // console.log($("#senha").val());
            // return false;


            $("#senha").attr('readonly', 'readonly');

            $("#btnSubmit").text("Aguarde...");
        });
    })
</script>
