body {
    margin: 0;
    padding: 0;    
}



/* Estilos Tela de Login */
.login-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: linear-gradient(to right, var(--color-primary-one), var(--color-primary-two));
}

.login-logo {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo img {
    width: 150px;
}

.login-form {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-box {
    border: 1px solid rgba(255,225,174,0.4);
    padding: 30px;
    border-radius: 4px;
    background-color: rgba(14,109,143,0.4);
    min-width: 25vw;
    max-width: 50vw;
}

.login-container label {
    color: var(--color-secondary-one) !important;
}

.div-recovery-password {
    text-align: center;
    color: var(--color-secondary-one);
}

.div-recovery-password a {
    text-decoration: none;
}

.div-recovery-password a:link {
    color: var(--color-secondary-one);
    text-decoration: none;
}

.div-recovery-password a:hover {
    color: var(--color-secondary-one);
    text-decoration: underline;
}

.div-recovery-password a:visited {
    color: var(--color-primary-four);
    text-decoration: underline;
}



@media(max-width:768px) {
    .login-container {
        flex-direction: column;
        background-color: #ffd800;
    }

    .login-logo {
        width: 100vw;
        height: 25vh;
    }

    .login-logo img {
        width: 100px;
    }

    .login-form {
        width: 100vw;
        height: 75vh;
        align-items: start;        
    }

    .login-form-box {
        min-width: 80vw;
        max-width: 90vw;
    }
}