/* Ajustes Mobile */
@media screen and (max-width: 1280px) {
    .responsive-screen-3 {
        display: none;
    }


}

@media screen and (max-width: 768px) {
    #sidebar-menu {
        display: none;
    }

    .responsive-screen-2 {
        display: none;
    }

    html, body {
        overflow: auto;
    }

    #btnModalAlterarSenha {
        display: none;
    }

    #menu-alterar-senha {
        display: block;
    }

    .login-logo-text {
        display: none;
    }



    /* ----- DASHBOARD ----- */
    #dashStatus {
        height: 330px;
    }

    #dashEspecie {
        height: 330px;
    }

    #dashEntradas {
        display: none;
    }

    #divListarAcessos, #divListarLogs {
        margin-bottom: 40px;
        width: 330px;
        height: 300px !important;
        overflow-x: auto;
    }

}




@media screen and (max-width: 400px) {

    /* ----- DASHBOARD ----- */
    #dashStatus {
        height: 330px;
    }

    #dashEspecie {
        height: 330px;
    }

    #dashEntradas {
        display: none;
    }

    #divListarAcessos, #divListarLogs {
        margin-bottom: 40px;
        width: 330px;
        height: 300px !important;
        overflow-x: auto;
    }
}



