:root {
    --color-dark-primary: #1c2933;
    --color-dark-secondary: #778899;

    --color-light-primary: #b0c4de;
}

html, body {
    height: 100%;
}

.form-switch .form-check-input {
    border-radius: 3px !important;
}

.form-check-input:checked {
    background-color: var(--color-dark-secondary) !important;
    border-color: var(--color-dark-secondary) !important;
}

@media screen and (max-width: 1280px) {
    .row-veiculo-3 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .row-veiculo-2 {
        display: none;
    }
}


/* Início Menu Lateral */
#sidebar-menu {
    background-color: var(--color-dark-primary);
    color: var(--color-light-primary);
    height: 100vh;
    overflow-y: auto;
}

.sidebar-menu-item {
    padding: 10px 40px 10px 20px;
    border-bottom: 1px solid #324656;
    cursor: pointer;
}

.sidebar-menu-item:hover {
    background-color: var(--color-dark-secondary);
    color: #ffffff;
    transition: 0.5s;
}

#body-content {
    padding: 20px;
}