:root {
    --color-primary-one: #233C45;
    --color-primary-two: #0E6D8F;
    --color-primary-three: #86BBCF;
    --color-primary-four: #B1D4E0;
    --color-secondary-one: #FFE1AE;
    --color-secondary-two: #FFF8EB;
    --color-light-gold: #Fbd302;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary-two) !important;
}

hr {
    border-color: var(--color-primary-three) !important;
    margin: 12px 0px 12px 0px !important;
}

/* Configuração tabelas */
table {
    width: 100%;
    font-size: 14px;
}

.cursor-clicker {
    cursor: pointer;
}

.cursor-clicker:hover {
    background-color: var(--color-primary-two);
    color: #FFF8EB;
    border: 1px solid var(--color-primary-two);
    transition: 0.5s;
}

.cursor-no-clicker {
    cursor: default;
}

.cursor-no-clicker:hover {
    background-color: var(--bs-gray-200);
    transition: 0.5s;
}

thead tr {
    background-color: #ffffff;
    color: #0E6D8F;
    border-bottom: 1px solid var(--bs-gray-200);
}

tbody tr {
    background-color: #ffffff;
    color: #0E6D8F;
    border-bottom: 1px solid var(--bs-gray-200);
}

td, th {
    padding: 5px;
}

.div-listar {
    overflow-y: auto;
    border-bottom: 1px solid var(--color-primary-three);
    border-top: 1px solid var(--color-primary-three);
    color: var(--color-primary-two);
}

.div-content {
    overflow-y: auto;
    padding: 20px;
    border-radius: 2px !important;
    border: 1px solid var(--color-primary-three) !important;
    color: var(--color-primary-two) !important;
}

.div-content-2 {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid var(--color-primary-three);
    border-top: 1px solid var(--color-primary-three);
    color: var(--color-primary-two);
}

.wrapper {
    width: 100%px;
    height: 150px;
    border-radius: 2px 2px 0px 0px !important;
    border: 1px solid var(--color-primary-three) !important;
    overflow: hidden;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
}

.wrapper:hover img {
    transform: scale(1.2);
}

.wrapper-label {
    text-align: center;
    width: 100%;
    background-color: var(--color-primary-two);
    color: var(--color-secondary-two);
    font-size: small;
    padding: 3px;
}

html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Div pai que contém o menu lateral e a área do conteúdo */
#workspace {
    height: 100%;
    display: flex;
    flex-flow: row;
}

/* Início Menu Lateral */
#sidebar-menu {
    background-color: var(--color-primary-one);
    color: var(--color-secondary-two);
    flex-grow: 0;
    flex-basis: auto;
}

#body {
    flex-grow: 1;
    flex-basis: auto;
}

#body-header {
    background-color: var(--color-primary-one);
    color: var(--color-secondary-two);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}

#body-content {
    padding: 25px;
    height: calc(100vh - 50px);
}

.sidebar-menu-logo {
    padding: 40px 20px 40px 20px;
    text-align: center;
    border-bottom: 1px solid var(--color-primary-two);
}

.sidebar-menu-item {
    padding: 10px 40px 10px 20px;
    border-bottom: 1px solid var(--color-primary-two);
    cursor: pointer;
    white-space: nowrap;
}

.active {
    background-color: var(--color-secondary-one);
    color: var(--color-primary-one);
    transition: 0.5s;
}

.sidebar-menu-item:hover {
    background-color: var(--color-primary-two);
    color: #ffffff;
    transition: 0.5s;
}

.input-readonly {
    padding: 0.20rem 0.5rem;
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-primary-two);
    border-radius: 2px !important;
    color: var(--color-secondary-two);
}


/* Ajustes Mobile */
@media screen and (max-width: 1280px) {
    .responsive-screen-3 {
        display: none;
    } 
}

@media screen and (max-width: 575px) {
    .responsive-screen-2 {
        display: none;
    }

    html, body {
        overflow: auto;
    }
}


/* Scroll personalizado */
/* Works on Firefox */
.scroll {
    scrollbar-width: thin;
    scrollbar-color: #17a2b8 #eeeeee;
}

/* Works on Chrome, Edge, and Safari */
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background: #eeeeee;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-two);
    /*border-radius: 20px;*/
    /*border: 3px solid #ffd800;*/
}







/* Estilos Tela de Login */
.login-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: linear-gradient(to right, var(--color-primary-one), var(--color-primary-two));
}

#login-container-alert {
    background-color: var(--color-secondary-one);
    border-radius: 4px;
    border: 1px solid var(--color-secondary-two);
    padding: 20px;
    margin-bottom: 10px;
    max-width: 25vw;
}

.login-container label {
    color: var(--color-secondary-one) !important;
}

.login-container-form {
    border: 1px solid rgba(255,225,174,0.4);
    padding: 30px;
    border-radius: 4px;
    background-color: rgba(14,109,143,0.4);
    min-width: 25vw;
    max-width: 50vw;
}

.div-recovery-password {
    text-align: center;
    color: var(--color-secondary-one);
}

.div-recovery-password a {
text-decoration: none;
}

.div-recovery-password a:link {
    color: var(--color-secondary-one);
    text-decoration: none;
}

.div-recovery-password a:hover {
    color: var(--color-secondary-one);
    text-decoration: underline;
}

.div-recovery-password a:visited {
    color: var(--color-primary-four);
    text-decoration: underline;
}



/* Alteração de senha */
#passwordResult {
    height: 40px;
    padding: 5px 0px 5px 0px;
    font-size: small;
}

#passwordBar {
    width: 0px;
    background-color: #ff6a00;
    height: 6px;
    border-radius: 3px;
}


/* Override Bootstrap */
input, select, textarea {
    border-radius: 2px !important;
    border: 1px solid var(--color-primary-three) !important;
    color: var(--color-primary-two) !important;
    margin-bottom: 5px !important;
}

.btn {
    border-radius: 2px 2px 2px 2px !important;
    padding: 5px 25px 5px 25px !important;
}

label {
    margin: 0 !important;
    color: var(--color-primary-two) !important;
}

.form-group {
    margin-bottom: 10px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--color-primary-two) !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(14 109 143 / 25%) !important;
}

.form-switch .form-check-input {
    border-radius: 3px !important;
}

.form-check-input:checked {
    background-color: var(--color-primary-two) !important;
    border-color: var(--color-primary-two) !important;
}




.btn-primary {
    background-color: var(--color-primary-two) !important;
    color: var(--color-secondary-two) !important;
    border: var(--bs-btn-border-width) solid var(--color-primary-two) !important;
}

.btn-primary:hover {
    background-color: var(--color-primary-three) !important;
    color: var(--color-secondary-two) !important;
    border: var(--bs-btn-border-width) solid var(--color-secondary-two) !important;
}

.btn-outline-primary {
    
    color: var(--color-primary-two) !important;
    border: var(--bs-btn-border-width) solid var(--color-primary-two) !important;
}

.btn-outline-primary:hover {
    background-color: var(--color-primary-three) !important;
    color: var(--color-secondary-two) !important;
    border: var(--bs-btn-border-width) solid var(--color-secondary-two) !important;
}


.btn-secondary {
    background-color: var(--color-secondary-one) !important;
    color: var(--color-primary-one) !important;
    border: var(--bs-btn-border-width) solid var(--color-secondary-two) !important;
}

.btn-secondary:hover {
    background-color: var(--color-secondary-two) !important;
    color: var(--color-primary-one) !important;
    border: var(--bs-btn-border-width) solid var(--color-secondary-two) !important;
}

.btn-outline-secondary {
    color: var(--color-secondary-two) !important;
    border: var(--bs-btn-border-width) solid var(--color-secondary-two) !important;
}

.btn-outline-secondary:hover {
    background-color: var(--color-secondary-one) !important;
    color: var(--color-primary-one) !important;
    border: var(--bs-btn-border-width) solid var(--color-secondary-two) !important;
}