html, body {
    height: 100%;
}


@media screen and (max-width: 1280px) {
    .row-veiculo-3 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .row-veiculo-2 {
        display: none;
    }
}